version: '3.1'

services:
  n8n:
    image: cr-step.ncr.fin-ntruss.com/n8n:0.0.2
    environment:
      # - EXECUTIONS_MODE=queue
      # - QUEUE_BULL_REDIS_HOST=localhost
      # - QUEUE_BULL_REDIS_PORT=6379
      - EXECUTIONS_DATA_PRUNE=true
      - DB_TYPE=mysqldb
      - DB_MYSQLDB_HOST=host.docker.internal
      - DB_MYSQLDB_PORT=3306
      - "DB_MYSQLDB_DATABASE=n8n_dev"
      - DB_MYSQLDB_USER=user01
      - DB_MYSQLDB_PASSWORD=passw0rd
      - "N8N_ENCRYPTION_KEY=good_secret_key"
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=passw0rd
      - GENERIC_TIMEZONE=Asia/Seoul
      - TZ=Asia/Seoul
      - N8N_PROTOCOL=http
      - N8N_HOST=localhost
      - N8N_PORT=5678
    ports:
      - 5678:5678
